<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
	<title>Salt Customer Dashboard - Dashboard</title>
</head>

<body>

  

	<div class="wrapper fadeInDown">
		<div class="formContent dashboardContent">
      <div class="container">
        <div class="col-4">
          <img src="/images/Logo_Salt_black.png" height="100px" alt="Salt">
          <h2 style="margin-top: 50px;">User information</h2>
          <div class="hidden"><span th:utext="${dashboard.identifier}"></span></div>
          <p>User: <strong><span th:utext="${dashboard.name}"></span></strong><br />
            Employer: <strong><span th:utext="${dashboard.employer}"></span></strong></p>
          <p><a href="/logout" class="button small">Logout</a></p>
          <h2 style="margin-top: 50px;">Contact information</h2>
          <p>Salt Cyber Security<br>
            <a target="_blank" href="https://salt-security.com">www.salt-security.com</a></p>
        </div>
        <div class="col-8">
          <h2>Dashboard</h2>
          <h3>Pentest Results</h3>
          <p>No active pentest found.</p>
          <p><a target="_blank" href="https://salt-security.com/pentesting-as-a-service/" class="button small">Request Pentest</a></p>
          <h3>Security Scan</h3>
          <p>No information available for the security scan.</p>
          <p><a target="_blank" href="https://salt-security.com/security-scan/" class="button small">Request Security Scan</a></p>
          <h3>Workshops</h3>
          <p>Active<br>
            <ul>
              <li><a target="_blank" href="https://bitbucket.org/saltcybersecurity/juice-shop-demo/src/master/">Secure Coding</a></li>
              <li><a target="_blank" href="https://bitbucket.org/saltcybersecurity/security-config-demo/src/master/">Security Configuration</a></li>
            </ul>
        </div>
      </div>
      
      
		</div>
	</div>
</body>

</html>