<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <title>Salt Customer Dashboard - Evil iFrame</title>
</head>

<body>
  <div class="iframe-overlay"><a class="button" target="_blank" href="https://salt-security.com">Try our new version of the Dashboard</a></div>
    <iframe width="100%" height="800" scrolling="no" frameborder="no" allow="autoplay" th:src="${iframe}"/>
</body>

</html>