<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
	<title>Salt Customer Dashboard - Update profile</title>
</head>

<body>
  <div class="wrapper fadeInDown">
    <div class="formContent">
  
      <div class="logo-wrapper">
        <img src="/images/Logo_Salt_black.png" height="100px" alt="Salt">
      </div>
  
      <div class="login-form" sec:authorize="isAuthenticated()">
        <h1>Salt Customer Dashboard</h1>
  
        <p>Welcome <strong><span sec:authentication="name"> </span></strong>.</p>
        <p>Before you continue we would like some extra information to finish your profile setup.</p>
        
        <p>Your account is missing the following information:</p>
        <form action="#" th:action="@{/dashboard}" th:object="${dashboard}" method="post">
          <p>Name: <input type="text"  th:field="*{name}"  /></p>
          <p>Employer: <input type="text"  th:field="*{employer}"  /></p>

          <p><input type="submit" value="Update" /></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>